<!DOCTYPE html>
<html lang="en">
<head>
  <title>REST</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
  <style>
    .m-b-0 {
        margin-bottom: 0;
    }  
</style>

</head>
<body>

<div class="row" style="padding-top: 50px">
  <div class="container">
    <div class="col-lg-2"></div>
    <div class="col-lg-8">

      <table class="table m-b-0">
        <tr class="bg-danger">
            
            <th>Employee Details</th>
            <td class="text-right"><button type="button" class="btn btn-primary" data-toggle="modal" data-target="#insertemployee">ADD NEW</button></td>
                  <div class="modal fade" id="insertemployee" role="dialog">
                  <div class="modal-dialog">
                    <!-- Modal content-->
                    <div class="modal-content">
                      <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal">&times;</button>
                        <h4 class="modal-title">Add Employee</h4>
                      </div>
                      <div class="modal-body">
                        <form action="{{url_for('insertemployee')}}" method="POST">
                           First Name : <input type="text" name="first_name" required class="form-control"><br>
                           Last Name : <input type="text" name="last_name" required class="form-control"><br>
                           Date Of Birth: <input type="date" name="birth_date" required class="form-control"><br>
                           Gender :<br>
                           <input type="radio" name="gender" value="Male"> <label for="male">Male</label><br>
                           <input type="radio" name="gender" value="Female"> <label for="female">Female</label><br>
                            Hire Date : <input type="date" name="hire_date" required class="form-control"><br>
                            <button type="submit" class="btn btn-primary">ADD </button>
                          </form>
                        </div>
                        <div class="modal-footer">
                          <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                        </div>
                      </div>
                    </div>
                  </div>
              
            
            </tr>
        
        </table>


      <table class="table">
   
          <tr class="bg-primary">
            <th>Employee No</th>
            <th>First Name</th>
            <th>Last Name</th>
            <th>Date Of Birth</th>
            <th>Gender</th>
            <th>Hire Date</th>
            <th>Delete</th>
            <th>Update</th>
          </tr>
          {% for emp in employees %}
          <tr>
            <td>{{emp.emp_no}}</td>
            <td>{{emp.first_name}}</td>
            <td>{{emp.last_name}}</td>
            <td>{{emp.birth_date}}</td>
            <td>{{emp.gender}}</td>
            <td>{{emp.hire_date}}</td>
            <td>
              <a href="/delete/{{ emp.emp_no }}">
                <button class="btn btn-danger">Delete</button>
              </a>
            </td>
            <td>
              <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#myModal{{ emp.emp_no }}">Update</button>
              <div class="modal fade" id="myModal{{ emp.emp_no }}" role="dialog">
                <div class="modal-dialog">
                  <!-- Modal content-->
                  <div class="modal-content">
                    <div class="modal-header">
                      <button type="button" class="close" data-dismiss="modal">&times;</button>
                      <h4 class="modal-title">Update User</h4>
                    </div>
                    <div class="modal-body">
                      <form action="{{url_for('updateemployee')}}" method="POST">
                        <input type="hidden" name="emp_no" value="{{emp.emp_no}}">
                        First Name : <input type="text" name="first_name" required value="{{emp.first_name}}" class="form-control"><br>
                        Last Name : <input type="text" name="last_name" required value="{{emp.last_name}}" class="form-control"><br>

                        Date Of Birth: <input type="date" name="birth_date" required value="{{emp.birth_date}}" class="form-control"><br>

                        Gender : <select name="gender" class="form-control"> 
                          <option value="{{emp.gender}}">{{emp.gender}}</option>
                          <option>__Select Gender__</option>
                          <option value="Male">Male</option>
                          <option value="Female">Female</option>
                        </select><br>
                        Hire Date: <input type="date" name="hire_date" required value="{{emp.hire_date}}" class="form-control"><br>
                        <center>
                          <button type="submit" class="btn btn-primary">Update </button>
                        </center>
                      </form>
                    </div>
                    <div class="modal-footer">
                      <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                    </div>
                  </div>
                </div>
              </div>
            </td>
          </tr>
          {% endfor %}
        </table>


        <table class="table m-b-0">
          <tr class="bg-danger">
              
              <th>Department Details</th>
              <td class="text-right"><button type="button" class="btn btn-primary" data-toggle="modal" data-target="#insertdepartment">ADD NEW</button></td>
                    <div class="modal fade" id="insertdepartment" role="dialog">
                    <div class="modal-dialog">
                      <!-- Modal content-->
                      <div class="modal-content">
                        <div class="modal-header">
                          <button type="button" class="close" data-dismiss="modal">&times;</button>
                          <h4 class="modal-title">Add Department</h4>
                        </div>
                        <div class="modal-body">
                          <form action="{{url_for('insertdepartment')}}" method="POST">
                             Department Name : <input type="text" name="department_name" required class="form-control"><br>
                             
                              <button type="submit" class="btn btn-primary">ADD </button>
                            </form>
                          </div>
                          <div class="modal-footer">
                            <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                          </div>
                        </div>
                      </div>
                    </div>
                
              
              </tr>
          
          </table>
          <table class="table">
            <tr class="bg-primary">
              <th>Department No</th>
              <th>Department Name</th>
              <th>Delete</th>
              <th>Update</th>
            </tr>
          {% for dep in departments %}

            <tr>
              <td>{{dep.dep_no}}</td>
              <td>{{dep.department_name}}</td>
              <td>
                <a href="/deletedepartment/{{ dep.dep_no }}">
                  <button class="btn btn-danger">Delete</button>
                </a>
              </td>
              <td>
                <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#myModalupdate{{dep.dep_no}}">Update</button>
                <div class="modal fade" id="myModalupdate{{dep.dep_no}}" role="dialog">
                  <div class="modal-dialog">
                    <!-- Modal content-->
                    <div class="modal-content">
                      <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal">&times;</button>
                        <h4 class="modal-title">Update User</h4>
                      </div>
                      <div class="modal-body">
                        <form action="{{url_for('updatedepartment')}}" method="POST">
                          <input type="hidden" name="dep_no" value="{{dep.dep_no}}">
                          
                          Department Name : <input type="text" name="department_name" required value="{{dep.department_name}}" class="form-control"><br>
                          
                          <center>
                            <button type="submit" class="btn btn-primary">Update </button>
                          </center>
                        </form>
                      </div>
                      <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                      </div>
                    </div>
                  </div>
                </div>
              </td>
            </tr>
          {% endfor %}

          </table>






          <table class="table m-b-0">
            <tr class="bg-danger">
                
                <th>Department Employees List</th>
                <td class="text-right"><button type="button" class="btn btn-primary" data-toggle="modal" data-target="#insertdepartmentemployees">ADD NEW</button></td>
                      <div class="modal fade" id="insertdepartmentemployees" role="dialog">
                      <div class="modal-dialog">
                        <!-- Modal content-->
                        <div class="modal-content">
                          <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal">&times;</button>
                            <h4 class="modal-title">Add Department</h4>
                          </div>
                          <div class="modal-body">
                            <form action="{{url_for('insertdepartmentemployee')}}" method="POST">
                               Employee No : <input type="number" name="emp_no" required class="form-control"><br>
                               Department No : <input type="number" name="dep_no" required class="form-control"><br>
                               From Date : <input type="date" name="from_date" required class="form-control"><br>
                               To Date : <input type="date" name="to_date" required class="form-control"><br>
                                <button type="submit" class="btn btn-primary">ADD </button>
                              </form>
                            </div>
                            <div class="modal-footer">
                              <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                            </div>
                          </div>
                        </div>
                      </div>
                  
                
                </tr>
            
            </table>
            <table class="table">
              <tr class="bg-primary">
                <th>Employee No</th>
                <th>Department No</th>

                <th>From Date</th>
                <th>To Date</th>
                <th>Delete</th>
                <th>Update</th>
                
              </tr>
            {% for depemp in departmentemployees %}
  
              <tr>
                <td>{{depemp.employee.first_name}}</td>
                <td>{{depemp.department.department_name}}</td>
                <td>{{depemp.from_date}}</td>
                <td>{{depemp.to_date}}</td>

                <td>
                  <a href="/deletedepartmentemployee/{{ depemp.id }}">
                    <button class="btn btn-danger">Delete</button>
                  </a>
                </td>
                <td>
                  <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#updatedepemp{{depemp.id}}">Update</button>
                  <div class="modal fade" id="updatedepemp{{depemp.id}}" role="dialog">
                    <div class="modal-dialog">
                      <!-- Modal content-->
                      <div class="modal-content">
                        <div class="modal-header">
                          <button type="button" class="close" data-dismiss="modal">&times;</button>
                          <h4 class="modal-title">Update User</h4>
                        </div>
                        <div class="modal-body">
                          <form action="{{url_for('updatedepartmentemployee')}}" method="POST">
                            <input type="hidden" name="id" value="{{depemp.id}}">

                            Employee No : <input type="text" name="emp_no" required value="{{depemp.emp_no}}" class="form-control"><br>

                            
                            Department No : <input type="text" name="dep_no" required value="{{depemp.dep_no}}" class="form-control"><br>

                            From Date : <input type="date" name="from_date" required value="{{depemp.from_date}}" class="form-control"><br>

                            To Date : <input type="date" name="to_date" required value="{{depemp.to_date}}" class="form-control"><br>
                            

                            
                            <center>
                              <button type="submit" class="btn btn-primary">Update </button>
                            </center>
                          </form>
                        </div>
                        <div class="modal-footer">
                          <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                        </div>
                      </div>
                    </div>
                  </div>
                </td>
              </tr>
            {% endfor %}
  
            </table>





            <table class="table m-b-0">
              <tr class="bg-danger">
                  
                  <th>Department Managers List</th>
                  <td class="text-right"><button type="button" class="btn btn-primary" data-toggle="modal" data-target="#insertdepartmentmanager">ADD NEW</button></td>
                        <div class="modal fade" id="insertdepartmentmanager" role="dialog">
                        <div class="modal-dialog">
                          <!-- Modal content-->
                          <div class="modal-content">
                            <div class="modal-header">
                              <button type="button" class="close" data-dismiss="modal">&times;</button>
                              <h4 class="modal-title">Add Department</h4>
                            </div>
                            <div class="modal-body">
                              <form action="{{url_for('insertdepartmentmanager')}}" method="POST">
                                 Employee No : <input type="number" name="emp_no" required class="form-control"><br>
                                 Department No : <input type="number" name="dep_no" required class="form-control"><br>
                                 From Date : <input type="date" name="from_date" required class="form-control"><br>
                                 To Date : <input type="date" name="to_date" required class="form-control"><br>
                                  <button type="submit" class="btn btn-primary">ADD </button>
                                </form>
                              </div>
                              <div class="modal-footer">
                                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                              </div>
                            </div>
                          </div>
                        </div>
                    
                  
                  </tr>
              
              </table>
              <table class="table">
                <tr class="bg-primary">
                  <th>Employee No</th>
                  <th>Department No</th>
  
                  <th>From Date</th>
                  <th>To Date</th>
                  <th>Delete</th>
                  <th>Update</th>
                  
                </tr>
              {% for depman in departmentmanagers %}
    
                <tr>
                  <td>{{depman.employee.first_name}}</td>
                  <td>{{depman.department.department_name}}</td>
                  <td>{{depman.from_date}}</td>
                  <td>{{depman.to_date}}</td>
  
                  <td>
                    <a href="/deletedepartmentmanager/{{ depman.id }}">
                      <button class="btn btn-danger">Delete</button>
                    </a>
                  </td>
                  <td>
                    <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#updatedepman{{depman.id}}">Update</button>
                    <div class="modal fade" id="updatedepman{{depman.id}}" role="dialog">
                      <div class="modal-dialog">
                        <!-- Modal content-->
                        <div class="modal-content">
                          <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal">&times;</button>
                            <h4 class="modal-title">Update Managers</h4>
                          </div>
                          <div class="modal-body">
                            <form action="{{url_for('updatedepartmentmanager')}}" method="POST">
                              <input type="hidden" name="id" value="{{depman.id}}">
  
                              Employee No : <input type="text" name="emp_no" required value="{{depman.emp_no}}" class="form-control"><br>
  
                              
                              Department No : <input type="text" name="dep_no" required value="{{depman.dep_no}}" class="form-control"><br>
  
                              From Date : <input type="date" name="from_date" required value="{{depman.from_date}}" class="form-control"><br>
  
                              To Date : <input type="date" name="to_date" required value="{{depman.to_date}}" class="form-control"><br>
                              
  
                              
                              <center>
                                <button type="submit" class="btn btn-primary">Update </button>
                              </center>
                            </form>
                          </div>
                          <div class="modal-footer">
                            <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                          </div>
                        </div>
                      </div>
                    </div>
                  </td>
                </tr>
              {% endfor %}
    
              </table>



              <table class="table m-b-0">
                <tr class="bg-danger">
                    
                    <th>Salary Details</th>
                    <td class="text-right"><button type="button" class="btn btn-primary" data-toggle="modal" data-target="#insertsalary">ADD NEW</button></td>
                          <div class="modal fade" id="insertsalary" role="dialog">
                          <div class="modal-dialog">
                            <!-- Modal content-->
                            <div class="modal-content">
                              <div class="modal-header">
                                <button type="button" class="close" data-dismiss="modal">&times;</button>
                                <h4 class="modal-title">Add Department</h4>
                              </div>
                              <div class="modal-body">
                                <form action="{{url_for('insertsalary')}}" method="POST">
                                   Employee No : <input type="number" name="emp_no" required class="form-control"><br>
                                   Salary : <input type="number" name="salary" required class="form-control"><br>
                                   From Date : <input type="date" name="from_date" required class="form-control"><br>
                                   To Date : <input type="date" name="to_date" required class="form-control"><br>
                                    <button type="submit" class="btn btn-primary">ADD </button>
                                  </form>
                                </div>
                                <div class="modal-footer">
                                  <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                                </div>
                              </div>
                            </div>
                          </div>
                      
                    
                    </tr>
                
                </table>
                <table class="table">
                  <tr class="bg-primary">
                    <th>Employee No</th>
                    <th>Salary</th>
    
                    <th>From Date</th>
                    <th>To Date</th>
                    <th>Delete</th>
                    <th>Update</th>
                    
                  </tr>
                {% for sal in salaries %}
      
                  <tr>
                    <td>{{sal.employee.first_name}}</td>
                    <td>{{sal.salary}}</td>
                    <td>{{sal.from_date}}</td>
                    <td>{{sal.to_date}}</td>
    
                    <td>
                      <a href="/deletesalary/{{ sal.id }}">
                        <button class="btn btn-danger">Delete</button>
                      </a>
                    </td>
                    <td>
                      <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#updatesalary{{sal.id}}">Update</button>
                      <div class="modal fade" id="updatesalary{{sal.id}}" role="dialog">
                        <div class="modal-dialog">
                          <!-- Modal content-->
                          <div class="modal-content">
                            <div class="modal-header">
                              <button type="button" class="close" data-dismiss="modal">&times;</button>
                              <h4 class="modal-title">Update Managers</h4>
                            </div>
                            <div class="modal-body">
                              <form action="{{url_for('updatesalary')}}" method="POST">
                                <input type="hidden" name="id" value="{{sal.id}}">
    
                                Employee No : <input type="text" name="emp_no" required value="{{sal.emp_no}}" class="form-control"><br>
    
                                
                                Salary : <input type="number" name="salary" required value="{{sal.salary}}" class="form-control"><br>
    
                                From Date : <input type="date" name="from_date" required value="{{sal.from_date}}" class="form-control"><br>
    
                                To Date : <input type="date" name="to_date" required value="{{sal.to_date}}" class="form-control"><br>
                                
    
                                
                                <center>
                                  <button type="submit" class="btn btn-primary">Update </button>
                                </center>
                              </form>
                            </div>
                            <div class="modal-footer">
                              <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                            </div>
                          </div>
                        </div>
                      </div>
                    </td>
                  </tr>
                {% endfor %}
      
                </table>
  






                <table class="table m-b-0">
                  <tr class="bg-danger">
                      
                      <th>Title Details</th>
                      <td class="text-right"><button type="button" class="btn btn-primary" data-toggle="modal" data-target="#inserttitle">ADD NEW</button></td>
                            <div class="modal fade" id="inserttitle" role="dialog">
                            <div class="modal-dialog">
                              <!-- Modal content-->
                              <div class="modal-content">
                                <div class="modal-header">
                                  <button type="button" class="close" data-dismiss="modal">&times;</button>
                                  <h4 class="modal-title">Add Department</h4>
                                </div>
                                <div class="modal-body">
                                  <form action="{{url_for('inserttitle')}}" method="POST">
                                     Employee No : <input type="number" name="emp_no" required class="form-control"><br>
                                     Title : <input type="text" name="title" required class="form-control"><br>
                                     From Date : <input type="date" name="from_date" required class="form-control"><br>
                                     To Date : <input type="date" name="to_date" required class="form-control"><br>
                                      <button type="submit" class="btn btn-primary">ADD </button>
                                    </form>
                                  </div>
                                  <div class="modal-footer">
                                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                                  </div>
                                </div>
                              </div>
                            </div>
                        
                      
                      </tr>
                  
                  </table>
                  <table class="table">
                    <tr class="bg-primary">
                      <th>Employee No</th>
                      <th>Title</th>
      
                      <th>From Date</th>
                      <th>To Date</th>
                      <th>Delete</th>
                      <th>Update</th>
                      
                    </tr>
                  {% for tit in titles %}
        
                    <tr>
                      <td>{{tit.employee.first_name}}</td>
                      <td>{{tit.salary}}</td>
                      <td>{{tit.from_date}}</td>
                      <td>{{tit.to_date}}</td>
      
                      <td>
                        <a href="/deletetitle/{{ tit.id }}">
                          <button class="btn btn-danger">Delete</button>
                        </a>
                      </td>
                      <td>
                        <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#updatetitle{{tit.id}}">Update</button>
                        <div class="modal fade" id="updatetitle{{tit.id}}" role="dialog">
                          <div class="modal-dialog">
                            <!-- Modal content-->
                            <div class="modal-content">
                              <div class="modal-header">
                                <button type="button" class="close" data-dismiss="modal">&times;</button>
                                <h4 class="modal-title">Update Managers</h4>
                              </div>
                              <div class="modal-body">
                                <form action="{{url_for('updatetitle')}}" method="POST">
                                  <input type="hidden" name="id" value="{{tit.id}}">
      
                                  Employee No : <input type="text" name="emp_no" required value="{{tit.emp_no}}" class="form-control"><br>
      
                                  
                                  Title : <input type="text" name="title" required value="{{tit.title}}" class="form-control"><br>
      
                                  From Date : <input type="date" name="from_date" required value="{{tit.from_date}}" class="form-control"><br>
      
                                  To Date : <input type="date" name="to_date" required value="{{tit.to_date}}" class="form-control"><br>
                                  
      
                                  
                                  <center>
                                    <button type="submit" class="btn btn-primary">Update </button>
                                  </center>
                                </form>
                              </div>
                              <div class="modal-footer">
                                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                              </div>
                            </div>
                          </div>
                        </div>
                      </td>
                    </tr>
                  {% endfor %}
        
                  </table>
    



      </div>
      <div class="col-lg-2"></div>
    </div>
  </div>






</body>
</html>
